// Start button style
body{
    .main-btn-wrap{
        .main-btn{
            padding: 10px;
            background: $grey;
            box-shadow: -5px -5px 12px $white, 5px 5px 12px rgba(0, 0, 0, 0.15);
            width: 60px;
            height: 60px;
            margin: 8px 0;
            border-radius: 30px;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include font-style($font-mb);
            @include media-min-md{
                width: 70px;
                height: 70px;
                border-radius: 35px;
            }
        }
        .red{
            color: $red;
        }
    }
}
@each $btn in $buttons {
    .btn{
        &:hover, &:active {
            background-color: nth($btn, 1) !important;
            color: $white !important;
        }
    }
}
// End button style