@import "./abstracts/variables";
@import "./mixins/breakpoints";
@import "./abstracts/button";
@import "./abstracts/common";
@import "./includes/header";
@import "./includes/footer";
 
.main{
    background: rgba(228, 228, 228, 0.2);
    .main-container{
        height: 100vh;
        .main-content {
            background: $grey;
            width: 400px;
            border-radius: 10px;
            .main-input-wrap .main-input{
                height: 120px;
                font-size: 60px;
                background: $red;
                border-radius: 10px 10px 0 0;
                @include media-min-md{
                    height: 150px;
                    font-size: 75px;
                }
                &::placeholder {             /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $white;
                    opacity: 1;             /* Firefox */
                }
                &:-ms-input-placeholder {    /* Internet Explorer 10-11 */
                    color: $white;
                }
                &::-ms-input-placeholder {   /* Microsoft Edge */
                    color: $white;
                }
            }
        }
    }
}